body {
    background-color: #F0EDE5
}


table {
    table-layout: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    /*{#border-radius: 25px;#}*/
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}


tr:nth-child(even) {
    background-color: #92B6D5;
}


.upbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.upbutton:hover {
    background-color: #358063;
}

.downbutton {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.downbutton:hover {
    background-color: #ff2a40;
}


h1 {
    color: darkmagenta;
}

h2 {
    color: darkorange;
    position: relative;
    left: 330px;
}

.qcomment{
    table-layout: fixed;
    width: 56%;

}

.acomment{
    table-layout: fixed;
    width: 57%;
}

:disabled{
    background-color: grey;
}

.user_page{
    width: 60%;
}
