<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
     <style>
        body {
    background-color: Silver;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
    <form action="/list">
        <select name="order_by">
            <option value="id">ID</option>
            <option value="title">Title</option>
        </select>
        <select name="order_direction">
            <option value="desc">descending</option>
            <option value="asc">ascending</option>
        </select>
        <input type="submit" value="order">
    </form>
    <table>
        {% for question in questions %}
        <tr>
            <td>ID: {{ question['id'] }}.</td>
            <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <form action="/add-question" method="POST">
        <button type="submit">
            ADD QUESTION
        </button>
    </form>
</body>
</html>
