<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
</head>
<body>
    <table>
        {% for question in questions %}
        <tr>
            <td>{{ question['id'] }}</td>
            <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <form action="/add-question"  method="POST">
        <button type="submit">
            ADD QUESTION
        </button>
    </form>
</body>
</html>
