<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All user</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div align="center">
        <h1>All user</h1>
        <table>
            <tr>
                <th>Username</th>
                <th>Number of questions</th>
                <th>Number of answers</th>
                <th>Number of comments</th>
                <th>Registration date</th>
            </tr>
            {% for user in users %}
            <tr>
                <td><a href="/user/{{ user.id }}">{{ user.username }}</a></td>
                <td>{{ user.sum_question if user.sum_question else 0 }}</td>
                <td>{{ user.sum_answer if user.sum_answer else 0 }}</td>
                <td>{{ user.sum_comment if user.sum_qcomment else 0 }}</td>
                <td>{{ user.date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div align="center">
    <form action="/list">
        <p><button type="submit">
            HOME
        </button></p>
    </form>
    </div>
</body>
</html>