<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Questions</title>
     <style>
        body {
    background-color: #F0EDE5
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #92B6D5;
}
.searching a {
    padding: 250px, 100px;
}
        h1 {
    color: darkmagenta;
}

h2 {
    color: darkorange;
}
</style>
</head>
<body>
    <h1>Welcome on Ask Mate</h1>
    <div class="searching">
        <form action="/search">
            <input type="text" placeholder="Search..." name="q">
            <button title="Search"><img alt="Search ballonicon2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Search_ballonicon2.svg/64px-Search_ballonicon2.svg.png" width="25px" height="25px"></button>
            <br>
            <br>
        </form>
    </div>

    <form action="/list">
        <select name="order_by">
            <option value="id">ID</option>
            <option value="submission_time" selected>Time</option>
            <option value="title" selected>Title</option>
        </select>
        <select name="order_direction">
            <option value="desc">Descending</option>
            <option value="asc">Ascending</option>
        </select>
        <input type="submit" value="Order">
    </form>
    <table>
        {% for question in questions %}
        <tr>
            <td>{{ question['id'] }}.</td>
            <td><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    {% if first %}
        <button><a href="/list">All question</a></button>
    {% else %}
        <button><a href="/">Top five question</a></button>
    {% endif %}
    <form action="/add-question" method="POST">
        <button type="submit">
            ADD QUESTION
        </button>
    </form>
</body>
</html>
