<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add new comment | Askmate</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
{% if not comment_update %}
    <h1>Add new comment to the {{ 'question' if question_comment else 'answer' }}</h1>
    <p>Your comment:</p>
    <form action='/{{ 'question' if question_comment else 'answer' }}/{{ question_id if question_comment else answer_id }}/new-comment' method="POST">
        <input id="id" name="id" type="hidden">
        <input id="question_id" type="hidden" name="question_id" value="">
        <input id="answer_id" type="hidden" name="answer_id" value="">
        <input id="submission_time" type="hidden" name="submission_time" value="{{ submission_time }}">
        <input id="edited_count" type="hidden" name="edited_count">
        <textarea id="message" name="message" rows="10" cols="50" minlength="10"></textarea>
        <p><button type="submit">Add your comment</button></p>
    </form>
{% else %}
        <h1>Edit {{ 'question' if question_comment else 'answer' }} comment</h1>
    <p>Your comment:</p>
    <form action='/comments/{{ comment['id'] }}/edit' method="POST">
        <textarea id="message" name="message" rows="10" cols="50" minlength="10">{{ comment['message'] }}</textarea>
        <input type="hidden" name="answer_id" value="{{ comment['answer_id'] }}">
        <p><button type="submit">Edit</button></p>
    </form>
{% endif %}
</body>
</html>