<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% if not update %}
    <title>Add new answer | Askmate</title>
    {% else %}
    <title>Edit answer | Askmate</title>
    {%  endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    {% if not update %}

    <h1>Add new answer to the question</h1>
    <p>Your answer:</p>
    <form action='/answer/' enctype=multipart/form-data method="POST">
        <input id="id" name="id" type="hidden">
        <input id="submission_time" name="submission_time" type="hidden" value="{{ submission_time }}">
        <input id="vote_number" name="vote_number" type="hidden" value="0">
        <input id="question_id" name="question_id" type="hidden" value="{{ question_id }}">
         <input id="image" name="image" type="hidden" value="">
        <textarea id="message" name="message" rows="10" cols="50" minlength="10"></textarea>
        <p><input type=file name=photo>
        <p><button type="submit">Add your answer</button></p>
    </form>

    {% else %}
    <h1>Edit answer</h1>
    <p>Your modified answer:</p>
    <form action='/answer/{{ answer.id }}/edit' enctype=multipart/form-data method="POST">
        <input id="submission_time" name="submission_time" type="hidden" value="{{ submission_time }}">
        <input id="vote_number" name="vote_number" type="hidden" value="{{ answer.vote_number }}">
        <input id="question_id" name="question_id" type="hidden" value="{{ answer.question_id }}">
         <input id="image" name="image" type="hidden" value="{{ answer.image }}">
        <textarea id="message" name="message" rows="10" cols="50" minlength="10">{{ answer.message }}</textarea>
        <p><input type=file name=photo>
        <p><button type="submit">Save your modified answer</button></p>
    </form>
    {% endif %}

</body>
</html>