<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AskMate | Forum</title>
    <style>
        body {
    background-color: #F0EDE5
}
table {
    table-layout: auto;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #92B6D5;
}
        .upbutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.upbutton:hover {
    background-color: #358063;
}

.downbutton {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
}

.question{

}

.downbutton:hover {
    background-color: #ff2a40;
}
        h1 {
    color: darkmagenta;
}

h2 {
    color: darkorange;
}
</style>
</head>
<body>
    <div class="question">
        <h2>Question:</h2>
        <p> Vote Number: {{ question['vote_number'] }}</p>
        <form>
        <p><button type="submit" class="upbutton" formaction="/question/{{ question['id'] }}/vote-up" formmethod="POST" name="question" value="{{ question['vote_number'] }}">VOTE UP</button></p>
            <p><button type="submit" class="downbutton" formaction="/question/{{ question['id'] }}/vote-down" formmethod="POST" name="question" value="{{ question['vote_number'] }}">VOTE DOWN</button></p>
        </form>
        <p> Submission time: {{ question["submission_time"] }} </p>

        <p>Views: {{ question["view_number"] }}</p>
        <p>Question</p>
        <p> {{ question["title"] }} </p>
        <p>Description</p>
        <p> {{ question["message"] }} </p>
        {% if question['image'] != '' %}
        <p> Image </p>
        <p><img src="/static/images/{{ question['image'] }}" alt="picture_if_provi" width="200" height="200" /></p>
        {% endif %}
        {% if comments %}
            {%  for comment in comments %}
                {% if comment['question_id'] != None %}
                    <p>Comments:</p>
                    <p>{{ comment['submission_time'] }} </p>
                    <p>{{ comment['message'] }} </p>
                    <form action="/comments/{{ comment['id'] }}/edit" >
                        <button type="submit" name="question_id" value="{{ comment['question_id'] }}">
                            EDIT COMMENT
                        </button>
                    </form>
                    <form action="/comments/{{ comment['id'] }}/delete" >
                        <button type="submit" name="question_id" value="{{ comment['question_id'] }}">
                            DELETE COMMENT
                        </button>
                    </form>
                {% endif %}
            {% endfor %}
        {% endif %}
        <form action="/question/{{ question['id'] }}/new-comment" >
        <button type="submit">
            ADD COMMENT
        </button>
        </form>
    </div>
    <br>

    <h2>Answers:</h2>
    {%  for answer in answers %}
        <table width="50%" border="1">
        {% for key in a_head %}
        <tr>
            {% if key == "message" %}
                <th width="10%">Answer</th>
                <td width="80%"> {{ answer[key] }} </td>
            {% elif key == "vote_number" %}
                <th width="10%">Vote number</th>
                <td width="80%"> {{ answer[key] }} </td>
                <form>
                <td width="10"><button type="submit" class="upbutton" formaction="/question/{{ question['id'] }}/vote-up" formmethod="POST" name="answer" value="{{ answer['id'] }}">VOTE UP</button></td>
                    <br>
                <td width="10"><button type="submit" class="downbutton" formaction="/question/{{ question['id'] }}/vote-down" formmethod="POST" name="answer" value="{{ answer['id'] }}">VOTE DOWN</button></td>
                </form>
            {% elif key == "submission_time" %}
                <th width="10%"> Submission time </th>
                <th width="80%"> {{ answer[key] }} </th>
                <form><td width="10"><button type="submit" formaction="/answer/{{ answer['id'] }}/edit" formmethod="GET">EDIT ANSWER</button></td></form>
                <form><td width="10"><button type="submit" formaction="/answer/{{ answer['id'] }}/delete" formmethod="GET" name="image" value="{{ answer['image'] }}">DELETE ANSWER</button></td></form>
            {% elif key == "image" %}
                {% if answer[key] != '' or answer[key] != None %}
                <th width="10%"> Image </th>
                <td width="80%"> <img src="/static/images/{{ answer[key] }}" alt="picture_if_provi" width="200" height="200" /> </td>
                {% endif %}
                {% else %}
            {% endif %}
        </tr>
        {% endfor %}
        {% if comments %}
            {%  for comment in comments %}
                {% if comment['answer_id'] == answer['id'] %}
                    <p>Comments:</p>
                    <p>{{ comment['submission_time'] }} </p>
                    <p>{{ comment['message'] }} </p>
                    <form action="/comments/{{ comment['id'] }}/delete" >
                        <button type="submit" name="answer_id" value="{{ comment['answer_id'] }}">
                            DELETE COMMENT
                        </button>
                    </form>
                {% endif %}
            {% endfor %}
        {% endif %}
        <br>
        <form action="/answer/{{ answer['id'] }}/new-comment" >
            <button type="submit">
                ADD COMMENT
            </button>
        </form>
        </table><br>
    {% endfor %}

    <br>
    <form action="/question/{{ question['id'] }}/new-answer"  method="POST">
        <button type="submit">
            ADD ANSWER
        </button>
    </form>
    <form action="/question/{{ question['id'] }}/edit">
        <button type="submit">
            EDIT QUESTION
        </button>
    </form>
    <form action="/question/{{ question['id'] }}/delete" >
        <button type="submit" name="image" value="{{ question['image']}}">
            DELETE QUESTION
        </button>
    </form>
    <form action="/list">
        <button type="submit">
            BACK TO QUESTIONS
        </button>
    </form>
</body>
</html>
