<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask a question | Askmate</title>
     <style>
        body {
    background-color: #F0EDE5;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 6px;
}

tr:nth-child(even) {
    background-color: #92B6D5;
}
</style>
</head>
<body>
    <h2>Enter your question</h2>
    <div>
        <p>Title:</p>
        <form action='/question/{{ question.id if update else next_id }}{{ "/edit" if update }}' method="POST">
        <input id="title" type="text" name="title" value="{{ question.title if update else title}}" required><br>
        <br>
        <p><b>Description</b></p>
        <input id="id" name="id" type="hidden" value="{{ question.id if update else next_id }}">
        <input id="submission_time" name="submission_time" type="hidden" value="{{ question.submission_time if update else submission_time }}">
        <input id="vote_number" name="vote_number" type="hidden" value="{{ question.vote_number if update else '0' }}">
            <input id="view_number" name="view_number" type="hidden" value="{{ question.view_number if update else '0' }}">
            <input id="image" name="image" type="hidden" value="{{ question.image if update else '' }}"> <! -- TODO: image function>
        <textarea id="message" name="message" rows="10" cols="50" minlength="10">{{ question.message if update else message }}</textarea>
        <p><button type="submit">Add your question</button></p>
    </form>
    </div>
</body>
</html>