<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask a question | Askmate</title>
</head>
<body>
    <h2>Enter your question</h2>
    <div>
        <p>Title:</p>
        <form action='/question/{{ next_id }}' method="POST">
        <input id="title" type="text" name="title" value="{{ title }}"><br>
        <br>
        <p><b>Description</b></p>
        <input id="id" name="id" type="hidden" value="{{ next_id }}">
        <input id="submission_time" name="submission_time" type="hidden" value="{{ submission_time }}">
        <input id="vote_number" name="vote_number" type="hidden" value="0">
            <input id="view_number" name="view_number" type="hidden" value="0">
            <input id="image" name="image" type="hidden" value=""> <! -- TODO: image function>
        <textarea id="message" name="message" rows="10" cols="50" minlength="10"></textarea>
        <p><button type="submit">Add your question</button></p>
    </form>
    </div>
</body>
</html>