<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ session['user_name'] }}'s page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div align="center">
    {% if questions %}
        <h1>{{ questions[0]['username'] }}'s page</h1>
    {% elif answers %}
        <h1>{{ answers[0]['username'] }}'s page</h1>
    {% elif comments %}
        <h1>{{ comments[0]['username'] }}'s page</h1>
    {% else %}
        <h1><a href="/">Nothing to show</a></h1>
    {% endif %}
</div>
    {% if questions %}
    <h2>Questions You have asked:</h2>
        <div align="center">
        <table class="user_page">
            <tr>
                <th width="20%">Submission time</th>
                <th width="80%">Title of question</th>
            </tr>
            {% for question in questions %}
                <tr>
                    <td width="20%">{{ question.submission_time }}</td>
                    <td width="80%">{{ question.title }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% endif %}
    {% if answers %}
    <h2>Answers You have given:</h2>
        <div align="center">
        <table class="user_page">
            <tr>
                <th width="20%">Submission time</th>
                <th>Message</th>
            </tr>
            {% for answer in answers %}
                <tr>
                    <td width="20%">{{ answer.submission_time }}</td>
                    <td width="80%">{{ answer.message }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% endif %}
    {% if comments %}
    <h2>Comments You have written:</h2>
        <div align="center">
        <table class="user_page">
            <tr>
                <th width="20%">Submission time</th>
                <th>Message</th>
            </tr>
            {% for comment in comments %}
                <tr>
                    <td width="20%">{{ comment.submission_time }}</td>
                    <td width="80%">{{ comment.message }}</td>
                </tr>
            {% endfor %}
        </table>
        </div>
    {% endif %}

    <div align="center">
    <form action="/">
        <p><button type="submit">
            HOME
        </button></p>
    </form>
    </div>

    <div align="center">
    <form action="/all_user">
        <p><button type="submit">
            LIST ALL USERS
        </button></p>
    </form>
    </div>
</body>
</html>